html, body {
		position: absolute;
		margin: 0;
		width: 100%;
	}
	#hi{
		position: absolute;
		top: 40%;
		width: 100%;
		text-align: center;
	}
	#hi a {
		color: transparent;
		font-size: 10px;
		text-decoration: none;		
		font-family: Lobster;
	}
